@import 'tailwindcss';

:root {
	--font-sans: 'Lexend', sans-serif;
	--font-display: 'Lexend', sans-serif;
}

@theme {
	--font-sans: var(--font-sans);
	--font-display: var(--font-display);

	--color-orange-500: #f97316;
	--color-orange-600: #ea580c;
}

body {
	font-family: var(--font-sans);
	background-color: #f5f5f5;
	color: #1a1a1a;
}

.font-display {
	font-family: var(--font-display);
}
